.filtros-container {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.filtros-container select,
.filtros-container button {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-weight: 500;
}

.filtros-container button {
    background-color: #0d6efd;
    color: white;
    cursor: pointer;
}

.filtros-container button:hover {
    background-color: #084298;
}